@model EbosTask.Models.CallsModel

@{
    ViewData["Title"] = "CreateCall";
}
<br />

<div class="btn btn-group-justified bg-danger" style="background-color: #ddd"><b>Add new call details</b></div>
<hr />
@if (ViewBag.addCallError != null)
{
    <h4 class="text-danger">@ViewBag.addCallError</h4>
}
<div class="row">

    <form asp-action="Create" asp-controller="Calls">
        <div class="col-md-5">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Customerno" class="control-label"></label>
                <select class="form-control" asp-for="CustomerId" asp-items="@(new SelectList(ViewBag.lstNumbers, "CustId", "Customerno"))">
                    <option value="">-- Select --</option>
                </select>

                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofCall" class="control-label"></label>
                <input asp-for="DateofCall" class="form-control" />
                <span asp-validation-for="DateofCall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeofCall" class="control-label"></label>
                <input asp-for="TimeofCall" class="form-control" />
                <span asp-validation-for="TimeofCall" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add Call" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn btn-danger" />
                <a asp-action="Index" asp-controller="Calls" class="btn btn-default btn-default">Back to List</a>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {

                $('#DateofCall').datepicker({
                    dateFormat: "dd-m-yy",
                    changeMonth: true,
                    changeYear: true
                });

            });
    </script>

}
